NOTION_DB_ID="https://stackoverflow.com/questions/67728038/where-to-find-database-id-for-my-database-in-notion"
NOTION_KEY="https://developers.notion.com/docs/getting-started"
TELEGRAM_TOKEN="YOUR TELEGRAM TOKEN HERE"
TELEGRAM_CHAT_ID="YOUR TELEGRAM CHAT ID HERE"